body{
	background: #27175D;
	color: white;
	font-weight: 300;
	font-style: normal;
	display: grid;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto;
}

#cartel{
	margin-top: 128px;
	color: white;
	font-size: 1.5em;
	border-radius: 9px;
	font-family: futura-pt-bold,sans-serif;
	font-weight: 700;
	font-style: normal;
}

a{
	color: white;
    text-decoration: none;
    font-family: futura-pt-bold,sans-serif;
    padding: 1em;
    position: absolute;
    background-color: #1169d3;
    border-radius: 9px;
    bottom: 3.5em;
}

h1{
	margin-block-start: 0em;
	margin-block-end: 0em;
	text-align: center;
}

table{
	margin: 2em 0 auto;
	table-layout:fixed;
	border-collapse: collapse;
	background-position: center;
	width: 340px;
	height: 340px;
	background: linear-gradient(180deg, #6649C4 0%, #4A2BAE 100%);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	display: none;
}

.choose{
	background: linear-gradient(180deg, #6649C4 0%, #4A2BAE 100%);
	background-repeat: no-repeat;
    background-position: center;
    width: 334px;
    height: 472px;
    border-radius: 16px;
    text-align: center;
    font-family: futura-pt;
    font-size: 20px;
	display: grid;
}

.choose img{
	margin: 0 auto;
    margin-top: 2em;
}

.choose p{
	width: 136px;
    margin: 0 auto;
    margin-top: auto;
    padding-bottom: 2em;
    font-weight: 500;
    letter-spacing: .5px;
}

.x-win{
	background-image: url(img/x-win.svg);
}

.o-win{
	background-image: url(img/o-win.svg);
}

td{
	padding: 1.5em;
	cursor: pointer;
	width: calc(100% / 3);
	height: calc(100% / 3);
	text-align: center;
	border-bottom: 1px solid #27175D;
	border-right: 1px solid #27175D; 
}

#info{
    font-family: futura-pt,sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    width: 340px;
    height: 77px;
	background: #4D2FB1;
	border-radius: 16px;
	font-style: normal;
    font-weight: 500;
    font-size: 40px;
	display: none; /*flex*/
    align-items: center;
    justify-content: space-around;
}

.j1{
	color: red;
}

.j2{
	color:  yellow;
}

#signoReset{
	display: none;
}

#close{
    position: absolute;
    right: 0;
    top: 14px;
    padding: .5em;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 2em;
}

.closeIcon{
    background-image: url('img/Close.svg');
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-color: transparent;
}