body {
    font-family: 'futura-pt', sans-serif;
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
    background-color: #27175D;
    color: white;
    align-items: center;
    flex-direction: column;
}

header {
    font-family: 'futura-pt-bold';
}

span {
    font-size: 17px;
    font-family: 'futura-pt';
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

ul li {
    padding: 1em;
    margin: .5em;
    background: linear-gradient(180deg, #6649C4 0%, #4A2BAE 98.44%);
    border-radius: 16px;
    width: 100%;
    border: 2px solid #4A2BAE;
}

nav {
    max-width: 334px;
    width: 100%;
}